<a href="https://colab.research.google.com/github/tahaabdelkrimdouik/pfe-back/blob/main/tp1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
import os
from google.colab import drive
drive.mount('/content/drive', force_remount = True)
os.chdir('drive/MyDrive/dataset') # main folder of Google Drive account

Mounted at /content/drive

In [5]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [6]:
df = pd.read_csv("chronic_kidney_disease.csv")

In [7]:
print(df.head())

    age    bp     sg   al   su     rbc        pc         pcc          ba  \
0  48.0  80.0  1.020  1.0  0.0     NaN    normal  notpresent  notpresent
1   7.0  50.0  1.020  4.0  0.0     NaN    normal  notpresent  notpresent
2  62.0  80.0  1.010  2.0  3.0  normal    normal  notpresent  notpresent
3  48.0  70.0  1.005  4.0  0.0  normal  abnormal     present  notpresent
4  51.0  80.0  1.010  2.0  0.0  normal    normal  notpresent  notpresent

     bgr  ...  pcv  wbcc  rbcc  htn   dm cad appet   pe  ane class
0  121.0  ...   44  7800   5.2  yes  yes  no  good   no   no   ckd
1    NaN  ...   38  6000   NaN   no   no  no  good   no   no   ckd
2  423.0  ...   31  7500   NaN   no  yes  no  poor   no  yes   ckd
3  117.0  ...   32  6700   3.9  yes   no  no  poor  yes  yes   ckd
4  106.0  ...   35  7300   4.6   no   no  no  good   no   no   ckd

[5 rows x 25 columns]

In [8]:
print(df.info())
print(df.describe())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 400 entries, 0 to 399
Data columns (total 25 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   age     391 non-null    float64
 1   bp      388 non-null    float64
 2   sg      353 non-null    float64
 3   al      354 non-null    float64
 4   su      351 non-null    float64
 5   rbc     248 non-null    object
 6   pc      335 non-null    object
 7   pcc     396 non-null    object
 8   ba      396 non-null    object
 9   bgr     356 non-null    float64
 10  bu      381 non-null    float64
 11  sc      383 non-null    float64
 12  sod     313 non-null    float64
 13  pot     312 non-null    float64
 14  hemo    348 non-null    float64
 15  pcv     330 non-null    object
 16  wbcc    295 non-null    object
 17  rbcc    270 non-null    object
 18  htn     398 non-null    object
 19  dm      398 non-null    object
 20  cad     398 non-null    object
 21  appet   399 non-null    object
 22  pe      399 non-null    object
 23  ane     399 non-null    object
 24  class   400 non-null    object
dtypes: float64(11), object(14)
memory usage: 78.3+ KB
None
              age          bp          sg          al          su         bgr  \
count  391.000000  388.000000  353.000000  354.000000  351.000000  356.000000
mean    51.483376   76.469072    1.017408    1.016949    0.450142  148.036517
std     17.169714   13.683637    0.005717    1.352679    1.099191   79.281714
min      2.000000   50.000000    1.005000    0.000000    0.000000   22.000000
25%     42.000000   70.000000    1.010000    0.000000    0.000000   99.000000
50%     55.000000   80.000000    1.020000    0.000000    0.000000  121.000000
75%     64.500000   80.000000    1.020000    2.000000    0.000000  163.000000
max     90.000000  180.000000    1.025000    5.000000    5.000000  490.000000

               bu          sc         sod         pot        hemo
count  381.000000  383.000000  313.000000  312.000000  348.000000
mean    57.425722    3.072454  137.528754    4.627244   12.526437
std     50.503006    5.741126   10.408752    3.193904    2.912587
min      1.500000    0.400000    4.500000    2.500000    3.100000
25%     27.000000    0.900000  135.000000    3.800000   10.300000
50%     42.000000    1.300000  138.000000    4.400000   12.650000
75%     66.000000    2.800000  142.000000    4.900000   15.000000
max    391.000000   76.000000  163.000000   47.000000   17.800000

In [10]:
X = df.drop("class", axis=1)
print("the df except the labels:",X)

the df except the labels:       age    bp     sg   al   su     rbc        pc         pcc          ba  \
0    48.0  80.0  1.020  1.0  0.0     NaN    normal  notpresent  notpresent
1     7.0  50.0  1.020  4.0  0.0     NaN    normal  notpresent  notpresent
2    62.0  80.0  1.010  2.0  3.0  normal    normal  notpresent  notpresent
3    48.0  70.0  1.005  4.0  0.0  normal  abnormal     present  notpresent
4    51.0  80.0  1.010  2.0  0.0  normal    normal  notpresent  notpresent
..    ...   ...    ...  ...  ...     ...       ...         ...         ...
395  55.0  80.0  1.020  0.0  0.0  normal    normal  notpresent  notpresent
396  42.0  70.0  1.025  0.0  0.0  normal    normal  notpresent  notpresent
397  12.0  80.0  1.020  0.0  0.0  normal    normal  notpresent  notpresent
398  17.0  60.0  1.025  0.0  0.0  normal    normal  notpresent  notpresent
399  58.0  80.0  1.025  0.0  0.0  normal    normal  notpresent  notpresent

       bgr  ...  hemo  pcv  wbcc  rbcc  htn   dm cad appet   pe  ane
0    121.0  ...  15.4   44  7800   5.2  yes  yes  no  good   no   no
1      NaN  ...  11.3   38  6000   NaN   no   no  no  good   no   no
2    423.0  ...   9.6   31  7500   NaN   no  yes  no  poor   no  yes
3    117.0  ...  11.2   32  6700   3.9  yes   no  no  poor  yes  yes
4    106.0  ...  11.6   35  7300   4.6   no   no  no  good   no   no
..     ...  ...   ...  ...   ...   ...  ...  ...  ..   ...  ...  ...
395  140.0  ...  15.7   47  6700   4.9   no   no  no  good   no   no
396   75.0  ...  16.5   54  7800   6.2   no   no  no  good   no   no
397  100.0  ...  15.8   49  6600   5.4   no   no  no  good   no   no
398  114.0  ...  14.2   51  7200   5.9   no   no  no  good   no   no
399  131.0  ...  15.8   53  6800   6.1   no   no  no  good   no   no

[400 rows x 24 columns]

In [12]:
numerical_df = df.select_dtypes(include=['int64', 'float64'])

nominal_df = df.select_dtypes(include=['object', 'category'])

print("Numerical columns:", numerical_df.columns.tolist())
print("Nominal columns:", nominal_df.columns.tolist())

Numerical columns: ['age', 'bp', 'sg', 'al', 'su', 'bgr', 'bu', 'sc', 'sod', 'pot', 'hemo']
Nominal columns: ['rbc', 'pc', 'pcc', 'ba', 'pcv', 'wbcc', 'rbcc', 'htn', 'dm', 'cad', 'appet', 'pe', 'ane', 'class']

In [13]:
num_cols = df.select_dtypes(include=['int64', 'float64']).columns
df[num_cols] = df[num_cols].fillna(df[num_cols].median())
print(df[num_cols].isnull().sum())

age     0
bp      0
sg      0
al      0
su      0
bgr     0
bu      0
sc      0
sod     0
pot     0
hemo    0
dtype: int64

In [15]:
from sklearn.impute import SimpleImputer
imputer = SimpleImputer(strategy='median')
numerical_df = imputer.fit_transform(numerical_df)

In [16]:
print(numerical_df)

[[ 48.     80.      1.02  ... 138.      4.4    15.4  ]
 [  7.     50.      1.02  ... 138.      4.4    11.3  ]
 [ 62.     80.      1.01  ... 138.      4.4     9.6  ]
 ...
 [ 12.     80.      1.02  ... 137.      4.4    15.8  ]
 [ 17.     60.      1.025 ... 135.      4.9    14.2  ]
 [ 58.     80.      1.025 ... 141.      3.5    15.8  ]]

In [19]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 400 entries, 0 to 399
Data columns (total 25 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   age     400 non-null    float64
 1   bp      400 non-null    float64
 2   sg      400 non-null    float64
 3   al      400 non-null    float64
 4   su      400 non-null    float64
 5   rbc     248 non-null    object
 6   pc      335 non-null    object
 7   pcc     396 non-null    object
 8   ba      396 non-null    object
 9   bgr     400 non-null    float64
 10  bu      400 non-null    float64
 11  sc      400 non-null    float64
 12  sod     400 non-null    float64
 13  pot     400 non-null    float64
 14  hemo    400 non-null    float64
 15  pcv     330 non-null    object
 16  wbcc    295 non-null    object
 17  rbcc    270 non-null    object
 18  htn     398 non-null    object
 19  dm      398 non-null    object
 20  cad     398 non-null    object
 21  appet   399 non-null    object
 22  pe      399 non-null    object
 23  ane     399 non-null    object
 24  class   400 non-null    object
dtypes: float64(11), object(14)
memory usage: 78.3+ KB
None

In [24]:
for col in nominal_df.columns:
    nominal_df[col + '_Code'], uniques = pd.factorize(nominal_df[col])
print(nominal_df.head())

      rbc        pc         pcc          ba pcv  wbcc rbcc  htn   dm cad  ...  \
0     NaN    normal  notpresent  notpresent  44  7800  5.2  yes  yes  no  ...
1     NaN    normal  notpresent  notpresent  38  6000  NaN   no   no  no  ...
2  normal    normal  notpresent  notpresent  31  7500  NaN   no  yes  no  ...
3  normal  abnormal     present  notpresent  32  6700  3.9  yes   no  no  ...
4  normal    normal  notpresent  notpresent  35  7300  4.6   no   no  no  ...

  pcv_Code wbcc_Code rbcc_Code htn_Code  dm_Code  cad_Code  appet_Code  \
0        0         0         0        0        0         0           0
1        1         1        -1        1        1         0           0
2        2         2        -1        1        0         0           1
3        3         3         1        0        1         0           1
4        4         4         2        1        1         0           0

   pe_Code  ane_Code  class_Code
0        0         0           0
1        0         0           0
2        0         1           0
3        1         1           0
4        0         0           0

[5 rows x 28 columns]

In [25]:
for col in nominal_df.columns:
    nominal_df[col].fillna(nominal_df[col].mode()[0], inplace=True)

print(nominal_df)

        rbc        pc         pcc          ba pcv  wbcc rbcc  htn   dm cad  \
0    normal    normal  notpresent  notpresent  44  7800  5.2  yes  yes  no
1    normal    normal  notpresent  notpresent  38  6000  5.2   no   no  no
2    normal    normal  notpresent  notpresent  31  7500  5.2   no  yes  no
3    normal  abnormal     present  notpresent  32  6700  3.9  yes   no  no
4    normal    normal  notpresent  notpresent  35  7300  4.6   no   no  no
..      ...       ...         ...         ...  ..   ...  ...  ...  ...  ..
395  normal    normal  notpresent  notpresent  47  6700  4.9   no   no  no
396  normal    normal  notpresent  notpresent  54  7800  6.2   no   no  no
397  normal    normal  notpresent  notpresent  49  6600  5.4   no   no  no
398  normal    normal  notpresent  notpresent  51  7200  5.9   no   no  no
399  normal    normal  notpresent  notpresent  53  6800  6.1   no   no  no

     ... pcv_Code wbcc_Code rbcc_Code htn_Code  dm_Code  cad_Code  appet_Code  \
0    ...        0         0         0        0        0         0           0
1    ...        1         1        -1        1        1         0           0
2    ...        2         2        -1        1        0         0           1
3    ...        3         3         1        0        1         0           1
4    ...        4         4         2        1        1         0           0
..   ...      ...       ...       ...      ...      ...       ...         ...
395  ...       36         3        15        1        1         0           0
396  ...       42         0        36        1        1         0           0
397  ...       38        89        34        1        1         0           0
398  ...       41        29        44        1        1         0           0
399  ...       40        46        35        1        1         0           0

     pe_Code  ane_Code  class_Code
0          0         0           0
1          0         0           0
2          0         1           0
3          1         1           0
4          0         0           0
..       ...       ...         ...
395        0         0           1
396        0         0           1
397        0         0           1
398        0         0           1
399        0         0           1

[400 rows x 28 columns]

/tmp/ipython-input-3163279708.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  nominal_df[col].fillna(nominal_df[col].mode()[0], inplace=True)
/tmp/ipython-input-3163279708.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  nominal_df[col].fillna(nominal_df[col].mode()[0], inplace=True)
/tmp/ipython-input-3163279708.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  nominal_df[col].fillna(nominal_df[col].mode()[0], inplace=True)
/tmp/ipython-input-3163279708.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  nominal_df[col].fillna(nominal_df[col].mode()[0], inplace=True)
/tmp/ipython-input-3163279708.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  nominal_df[col].fillna(nominal_df[col].mode()[0], inplace=True)
/tmp/ipython-input-3163279708.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  nominal_df[col].fillna(nominal_df[col].mode()[0], inplace=True)
/tmp/ipython-input-3163279708.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  nominal_df[col].fillna(nominal_df[col].mode()[0], inplace=True)
/tmp/ipython-input-3163279708.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  nominal_df[col].fillna(nominal_df[col].mode()[0], inplace=True)
/tmp/ipython-input-3163279708.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  nominal_df[col].fillna(nominal_df[col].mode()[0], inplace=True)
/tmp/ipython-input-3163279708.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  nominal_df[col].fillna(nominal_df[col].mode()[0], inplace=True)
/tmp/ipython-input-3163279708.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  nominal_df[col].fillna(nominal_df[col].mode()[0], inplace=True)
/tmp/ipython-input-3163279708.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  nominal_df[col].fillna(nominal_df[col].mode()[0], inplace=True)
/tmp/ipython-input-3163279708.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  nominal_df[col].fillna(nominal_df[col].mode()[0], inplace=True)
/tmp/ipython-input-3163279708.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  nominal_df[col].fillna(nominal_df[col].mode()[0], inplace=True)
/tmp/ipython-input-3163279708.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  nominal_df[col].fillna(nominal_df[col].mode()[0], inplace=True)

In [26]:
imputer = SimpleImputer(strategy='most_frequent')
imputer.fit(nominal_df)

nominal_df[:] = imputer.transform(nominal_df)

print(nominal_df)

        rbc        pc         pcc          ba pcv  wbcc rbcc  htn   dm cad  \
0    normal    normal  notpresent  notpresent  44  7800  5.2  yes  yes  no
1    normal    normal  notpresent  notpresent  38  6000  5.2   no   no  no
2    normal    normal  notpresent  notpresent  31  7500  5.2   no  yes  no
3    normal  abnormal     present  notpresent  32  6700  3.9  yes   no  no
4    normal    normal  notpresent  notpresent  35  7300  4.6   no   no  no
..      ...       ...         ...         ...  ..   ...  ...  ...  ...  ..
395  normal    normal  notpresent  notpresent  47  6700  4.9   no   no  no
396  normal    normal  notpresent  notpresent  54  7800  6.2   no   no  no
397  normal    normal  notpresent  notpresent  49  6600  5.4   no   no  no
398  normal    normal  notpresent  notpresent  51  7200  5.9   no   no  no
399  normal    normal  notpresent  notpresent  53  6800  6.1   no   no  no

     ... pcv_Code wbcc_Code rbcc_Code htn_Code  dm_Code  cad_Code  appet_Code  \
0    ...        0         0         0        0        0         0           0
1    ...        1         1        -1        1        1         0           0
2    ...        2         2        -1        1        0         0           1
3    ...        3         3         1        0        1         0           1
4    ...        4         4         2        1        1         0           0
..   ...      ...       ...       ...      ...      ...       ...         ...
395  ...       36         3        15        1        1         0           0
396  ...       42         0        36        1        1         0           0
397  ...       38        89        34        1        1         0           0
398  ...       41        29        44        1        1         0           0
399  ...       40        46        35        1        1         0           0

     pe_Code  ane_Code  class_Code
0          0         0           0
1          0         0           0
2          0         1           0
3          1         1           0
4          0         0           0
..       ...       ...         ...
395        0         0           1
396        0         0           1
397        0         0           1
398        0         0           1
399        0         0           1

[400 rows x 28 columns]

In [27]:
preprocessed_df = pd.concat([numerical_df, nominal_df], axis=1)

print(preprocessed_df)

TypeError: cannot concatenate object of type '<class 'numpy.ndarray'>'; only Series and DataFrame objs are valid